@model WebAppPg.Models.AccountList
@{
    ViewBag.Title = "List of accounts";
}

<p><a class="btn" href="/AccountOwner/Index" style="background-color: #55c9a9; color: #ebfff9">Back to account owners</a></p>

<div class="pb-1">
    <h3>List of accounts @ViewData["accOwnerName"]</h3>
</div>

<p><a class="btn" href="/Account/Add?accOwnerId=@Model.accountOwnerId" style="background-color: #55c9a9; color: #ebfff9">Add new</a></p>

<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr style="background-color: #f0e8ff;">
            <th>Name</th>
            <th>Account type</th>
            <th>Is active?</th>
            <th>Currency</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody style="background-color: #fdfcff;">
        @if (Model.accountList.Count() > 0)
        {
            @foreach (var account in Model.accountList)
            {
                <tr>
                    <td>@account.name</td>
                    <td>@account.account_type_name</td>
                    <td>
                        <div class="ml-4">
                            <input class="form-check-input" id="flexCheckCheckedDisabled" type="checkbox" checked=@account.is_active disabled>
                            <label class="form-check-label" for="flexCheckCheckedDisabled">
                                Active
                            </label>
                        </div>
                    </td>
                    <td>@account.currency_name</td>
                    <td>
                        <a class="btn" href="/AccountBalance/List?account_id=@account.id" style="background-color: #fcc3a4; color: #fffbfa ">Balances</a>
                        <a class="btn" href="/Account/Edit/@account.id" style="background-color: #55c9a9; color: #ebfff9 ">Edit</a>
                        <a class="btn" href="/Account/Delete/@account.id?row_version=@account.row_version&account_owner_id=@account.account_owner_id" style="background-color: #55c9a9; color: #ebfff9 ">Delete</a>
                    </td>
                </tr>
            }
        }
        else { 
            <tr><td>No accounts yet</td></tr>
        }
    </tbody>
</table>

 <p><a class="btn" href="/Account/Add?accOwnerId=@Model.accountOwnerId" style="background-color: #55c9a9; color: #ebfff9">Add new</a></p>