@model IEnumerable<WebAppPg.Models.Account>
@{
    ViewBag.Title = "List of accounts";
}

<div class="pb-1">
    <h3>List of accounts</h3>
</div>
<p><a class="btn" href="/Account/Add" style="background-color: #55c9a9; color: #ebfff9">Add new</a></p>
<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr style="background-color: #f0e8ff;">
            <th>Name</th>
            <th>Account type</th>
            <th>Is active?</th>
            <th>Currency</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody style="background-color: #fdfcff;">
        @foreach (var account in Model)
         {
           <tr>
               <td>@account.name</td>
               <td>@account.account_type_code</td>  
               <td>
                   <div class="ml-4">
                       <input class="form-check-input" id="flexCheckCheckedDisabled" type="checkbox" checked=@account.is_active disabled>
                       <label class="form-check-label" for="flexCheckCheckedDisabled">
                           Active
                       </label>
                   </div>
               </td>
               <td>@account.currency_code</td>
               <td><a class="btn" href="/AccountOwner/Edit/@account.id" style="background-color: #55c9a9; color: #ebfff9 ">Edit</a> <a class="btn" href="/Account/Delete/@account.id" style="background-color: #55c9a9; color: #ebfff9 ">Delete</a></td>
           </tr>
         }
    </tbody>
</table>
<a class="btn" href="/Account/Add" style="background-color: #55c9a9; color: #ebfff9">Add new</a>