
@model IEnumerable<WebAppPg.Models.AccountOwner>
@{
    ViewBag.Title = "Index";
}

<div class="pb-1">
    <h3>List of account owners</h3>
</div>
<p><a class="btn" href="/AccountOwner/Add" style="background-color: #55c9a9; color: #ebfff9">Add new</a></p>
<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr style="background-color: #f0e8ff;">
            <th>Name</th>
            <th>Is active?</th>
            <th>App user</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody style="background-color: #fdfcff;">
        @foreach (var accOwner in Model)
        {
        <tr>
            <td>@accOwner.name</td>
            <td>
                <div class="ml-4">
                    <input class="form-check-input" id="flexCheckCheckedDisabled" type="checkbox" checked=@accOwner.is_active disabled>
                    <label class="form-check-label" for="flexCheckCheckedDisabled">
                        Active
                    </label>
                </div>
            </td>
            <td>@accOwner.app_user_id</td>
            <td>
                <a class="btn" href="/Account/List?accOwnerId=@accOwner.id" style="background-color: #fcc3a4; color: #fffbfa ">Accounts</a>             
                <a class="btn" href="/AccountOwner/Edit/@accOwner.id" style="background-color: #55c9a9; color: #ebfff9 ">Edit</a>
                <a class="btn" href="/AccountOwner/Delete/@accOwner.id" style="background-color: #55c9a9; color: #ebfff9 ">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a class="btn" href="/AccountOwner/Add" style="background-color: #55c9a9; color: #ebfff9">Add new</a>
