@model UserModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="PerformLogin" method="post">
            <h4>Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="d-flex">
                    <input asp-for="Password" name="txtpassword" ID="txtPassword" TextMode="Password" class="form-control" />
                    <i id="togglePassword" class="bi bi-eye-slash" style="cursor: pointer; margin-left: -30px; margin-top:1.7%;"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-block" style="background-color: #55c9a9; color: #ebfff9; ">Log in</button>
                <a class="btn btn-lg btn-block" href="/AppUser/RegisterNewUser" style="background-color: #55c9a9; color: #ebfff9;">Register new user</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var togglePassword = document.querySelector('#togglePassword');
    var password = document.querySelector('#txtPassword');
    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('bi-eye');
    });
</script>