@model WebAppPg.Models.MyTest1
@{
    ViewBag.Title = "Add";
}

<h2>Add new Record</h2>
<form action="/MyTest1/Add" method="post">
    <p>Name: <input name="Name" type="text" value="" /></p>
    <p><input type="submit" value="Save" /></p>
</form>

