@model WebAppPg.Models.MyTest1
@{
    ViewBag.Title = "Add";
}

<h2>Add new Record</h2>
<form action="/MyTest1/Add" method="post">
    <p>Name: <input name="Name" type="text" value="" /></p>
    <p>Is_active? <input name="Is_active" type="checkbox" value="" /> </p>
    <p><input type="submit" value="Save" /></p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            App user
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
           <li><a class="dropdown-item"> </a></li>
        </ul>
        </div>
</form>

