@model WebAppPg.Models.InteraccountTransaction
@{
    ViewBag.Title = "Add";
}

<h3>Add new interaccount transaction</h3>
<form action="/InteraccountTransaction/AddFirstStage" method="post">

    <div class="d-flex" style="width: 100%;">
        
        <div style="width: 30%;">
            <p></p>

            <h4>Source</h4>
                <div style="width: 100%; height: 20%;">
                    @Html.DropDownListFor(model => model.source_account_id, new SelectList(Model.sourceAccountList, "id", "name"),
                    new { @class = "form-control" })
                </div>

            <p style="width: 100%; height: 20%; margin-top: 5%;"><input name="source_amount" type="text" style="width: 100%; height: 100%;" placeholder="Source amount" /></p>

            <div style="width: 100%; height: 20%; margin-top: 1%;">
                @Html.DropDownListFor(model => model.source_currency_code, new SelectList(Model.sourceCurrCodesList, "code", "code"),
                new { @class = "form-control" })
            </div>
        </div>

        <img src="~/img/exchange.png" style="width: 10%; height: 10%; margin-left: 3%; margin-right: 2%; margin-top: 8.5%; " />

        <div style="width: 30%;">
            <p></p>

            <h4>Target</h4>

            <div style="width: 100%; height: 20%; margin-top: 20%;">
                @Html.DropDownListFor(model => model.target_account_id, new SelectList(Model.targetAccountList, "id", "name"),
                new { @class = "form-control" })
            </div>

        </div>
    </div>

    <p>
        <input type="text" class="form-control" id="datetimepicker2" name="transaction_date" style="width: 20%; margin-left: 27%; margin-top: 5%;">
    </p>

    <p>
        <input type="submit" class="btn" style="background-color: #55c9a9; color: #ebfff9; width: 10%;" value="Continue" />
        <a class="btn" href="/InteraccountTransaction/Index" style="background-color: #55c9a9; color: #ebfff9; width: 10%;">Cancel</a>
    </p>

</form>
