@model WebAppPg.Models.PlannedPayment
@{
    ViewBag.Title = "Add";
}

<h3>Add new planned payment</h3>
<form action="/PlannedPayment/Add" method="post">

    <p style="width: 30%; height: 20%;"><input name="name" type="text" style="width: 100%; height: 20%;" placeholder="Name" /></p>

    <p>
        <div style="width: 30%; height: 20%;">
            @Html.DropDownListFor(model => model.account_id, new SelectList(Model.accountList, "id", "name"),
            new { @class = "form-control" })
        </div>

    </p>

    <p>
        <div style="width: 30%; height: 20%;">
            @Html.DropDownListFor(model => model.payment_receiver_id, new SelectList(Model.paymentReceiversList, "id", "name"),
            new { @class = "form-control" })
        </div>
    </p>

    <p>
        <div style="width: 30%; height: 20%;">
            @Html.DropDownListFor(model => model.payment_type_id, new SelectList(Model.paymentTypesList, "id", "name"),
            new { @class = "form-control" })
        </div>
    </p>

    <p style="width: 30%; height: 20%;"><input name="amount" type="text" style="width: 100%; height: 20%;" placeholder="Amount" /></p>

    <p>
        <div style="width: 30%; height: 20%;">
            @Html.DropDownListFor(model => model.currency_code, new SelectList(Model.currencyCodesList, "code", "code"),
            new { @class = "form-control" })
        </div>
    </p>

    <p>
        <input type="text" class="form-control" id="datetimepicker2" name="planned_date" style="width: 30%;">
        <a class="btn" id="setDate1" style="background-color: #fcc3a4; color: #fffbfa; margin-top: 5px;">No planned date</a>
    </p>

    <p>
        <input type="text" class="form-control" id="datetimepicker3" name="start_date" style="width: 30%;">
        <a class="btn" id="setDate2" style="background-color: #fcc3a4; color: #fffbfa; margin-top: 5px;">No start date</a>
    </p>

    <p>
        <input type="text" class="form-control" id="datetimepicker4" name="end_date" style="width: 30%;">
        <a class="btn" id="setDate3" style="background-color: #fcc3a4; color: #fffbfa; margin-top: 5px;">No end date</a>
    </p>

    <p>
        <input type="submit" class="btn" style="background-color: #55c9a9; color: #ebfff9; width: 10%;" value="Save" />
        <a class="btn" href="/PlannedPayment/Index" style="background-color: #55c9a9; color: #ebfff9; width: 10%;">Cancel</a>
    </p>

</form>