@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4"><strong>Smarter</strong> is a budget tracker for the modern age.</h1>
</div>
<div class="container h-100 mt-4" style="display: flex;">
    <div class="container-img-presentation d-flex align-items-center justify-content-center" >
        <img src="~/img/presentation.png" style="width: 56%; height: 90%;" />
    </div>
    <div class="container-text-1 col-md-6" style="width: 70%; height: 40%">
        <p>
            <h3>So, what is a family budget?</h3>
        </p>
        <p>
            A family budget is a plan for your household’s incoming and outgoing money over a certain period of time,
            such as a month or year. For example, you may aim for certain dollar amounts or percentages of your
            combined monthly income to go toward various expenses, like groceries, as well as saving, investing and paying off debt.
        </p>
        <p>
            Many people simply spend their income without being intentional about it, she says, but you get to decide how to allocate that
            money so that it works for you.
        </p>
        <p>So let’s make a plan for you.</p>
    </div>
</div>
<div class="container h-100 mt-4" style="display: flex;">
    <div class="container-img-presentation d-flex align-items-center justify-content-center" >
        <img src="~/img/business-report.png" style="width: 67%; height: 90%;" />
    </div>
    <div class="container-text-1 col-md-6" style="width: 70%; height: 40%">
        <p>
            <h3>Why budgeting with Smarter?</h3>
        </p>
        <p>
            Yiu always know what's in your pocket. We crunch the numbers to show how much spendable money you have after setting aside enough for bills, goals and necessities.
            So you can see which expenses eat up too much of the pie.
        </p>
        <p>
            Link your banks, credit cards, loans & investment in one place, to keep track of your account balances, net worth and more.
            Smarter helps you stay on top of your bills and negotiate better rates on your cable, cell phone and other bills.
        </p>
        <p>Reach your goals easily.</p>
    </div>
</div>
<div class="container h-100 mt-4" style="display: flex;">
    <div class="container-img-presentation d-flex align-items-center justify-content-center">
        <img src="~/img/teamwork.png" style="width: 60%; height: 100%;" />
    </div>
    <div class="container-text-1 col-md-6" style="width: 70%; height: 60%">
        <p>
            <h3>Features for days</h3>
        </p>
        <p>
            Healthy finances start with knowing where your money is going. We'll break down your finances across
            your individual & shared pools.
        </p>
        <p>
            Keep tabs on bills and get reminders to pay them - to you, both of you, whatever works best.
        </p>
        <p>
            Stay 100% in control of what is shared with your family. Balances, transactions or both.
        </p>
        <p>
            Track what matters to you, in whichever categories you want. Our fave is chocolate therapy.
        </p>
    </div>
</div>

